[defaults]
# Configuration pour le développement du module incus_cli

# Chemin vers les modules locaux
library = ./library

# Chemin vers les action plugins locaux
action_plugins = ./action_plugins

# Chemin vers les templates
templates = ./templates

# Interpréteur Python à utiliser
interpreter_python = /usr/bin/python3.13

# Utilisateur et clé SSH pour les connexions distantes
# inventory = inventories/lab/hosts.yml
remote_user = perreau
private_key_file = ~/.ssh/fperreau

# Affichage des résultats
callback_result_format = yaml
callback_pretty = true
