[defaults]
inventory = inventories/lab/hosts.yml
library = ./library
templates = ./templates
interpreter_python=/usr/bin/python3.13
remote_user = perreau
private_key_file = ~/.ssh/fperreau
callback_result_format = yaml
callback_pretty = true
